{% set has_link = penn_entity.field_link.value %}
<article class="grid-card  {# {{ content.field_grid_borders }} #}">  
  {% if has_link and has_image %}
    <a href="{{ content.field_link }}" class="grid-card__image-link">
      {{ content.field_image }}
    </a>
  {% else %}
    {{ content.field_image }}
  {% endif %}
  <div class="grid-card__content"> 
    <h3 class="grid-card__title">
      {% if has_link %}
        <a href="{{ content.field_link }}" class="grid-card__link">
          {{ content.field_title }}
        </a>
      {% else %}
        {{ content.field_title }}
      {% endif %}
    </h3>
    {% if penn_entity.field_description_formatted.value %}
      {{ content.field_description_formatted }}
    {% endif %}
    {# Deprecated unformatted description #}
    {{ content.field_description }}
  </div>
</article>