{% set has_link = penn_entity.field_link.value %}
{% set has_image = penn_entity.field_image.value %}

{# {% set show_external_link_icon = penn_entity.field_show_external_link_icon.value %} #}
{% set show_external_link_icon = false %}
{% set external_link_class = show_external_link_icon and has_link and penn_twig_is_link_external(penn_entity.field_link.value) ? 'cta--arrow arrow-no-border' : '' %}

<article class="grid-card  {# {{ content.field_grid_borders }} #}">
  {% if has_link and has_image %}
    <a href="{{ content.field_link }}" class="grid-card__image-link">
      {{ content.field_image }}
    </a>
  {% else %}
    {{ content.field_image }}
  {% endif %}
  <div class="grid-card__content"> 
    <h3 class="grid-card__title">
      {% if has_link %}
        <a href="{{ content.field_link }}" class="grid-card__link {{ external_link_class }}">
          {{ content.field_title }}
        </a>
      {% else %}
        {{ content.field_title }}
      {% endif %}
    </h3>
  {{ content.field_description }}
</div>
</article>