
{% if penn_api_items|length > 0 %}
<div class=" {{ content.field_padding }} {{ content.field_margins }} {{ content.field_background_color }} {{ content.field_borders }}">
    <div class="{{ content.field_container_width }}">
      {% if penn_api_entity.field_title.value or penn_api_entity.field_description_formatted.value %}
        <header class="section-header section-header--centered {{ section_header_class }}">
          {% if penn_api_entity.field_title.value %}
            <h2 class="section-header__title">
              {{ content.field_title }}
            </h2>
          {% endif %}
          {% if penn_api_entity.field_description_formatted.value %}
            {{ content.field_description_formatted }}
          {% endif %}
        </header>
      {% endif %}
      <div class="listing-cards">
        {% for item in penn_api_items %}
          <article class="listing-card listing-card--large listing-card--with-link listing-card--{{ item.image is not empty ? 'with-image' : 'without-image' }}">

            {% if item.image is not empty %}
              <figure class="listing-card__figure">
                <a href="{{ item.url }}" class="list-card__figure__link">
                  <img src="{{ item.image }}" alt="{{ item.image_alt }}" class="listing-card__image">
                </a>
              </figure>
            {% endif %}

            <div class="listing-card__detail">
              <h3 class="listing-card__title">
                <a href="{{ item.url }}" class="listing-card__title__link">
                  {{ item.homepage_title is empty ? item.title : item.homepage_title }}
                </a>
              </h3>
              {% if penn_api_entity.field_show_date.value and item.date %}
                <div class="listing-card__info">
                  <span class="listing-card__date">{{ item.date|date("n/j/Y") }}</span>
                </div>
              {% endif %}
              {% if penn_api_entity.field_show_summary.value %}
                <p>{{ item.dek is empty ? item.summary : item.dek }}</p>
              {% endif %}
            </div>

          </article>
        {% endfor %}

      </div>
      <footer class="section-footer section-footer--centered">
        {{ content.field_button_link }}
      </footer>
    </div>
  </div>
{% endif %}
